<a href="https://colab.research.google.com/github/samarthagawade/Startup-Funding-Analysis/blob/main/Startup_Column_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/startup_cleaned.csv')
df

,Date,Startup,Industry,Subvertical,City,Investors,round,Amount
0,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
1,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
2,2020-01-09,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
3,2020-01-02,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
4,2020-01-02,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000
...,...,...,...,...,...,...,...,...
2837,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,28.875000
2838,2015-04-29,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0.000000
2839,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,3.300000
2840,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,4.125000
2841,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,66.000000

In [ ]:
df['Startup'].unique()

array(['BYJU’S', 'Shuttl', 'Mamaearth', ..., 'Dazo', 'Tradelab', 'PiQube'],
      dtype=object)

In [ ]:
df['Startup']

0                             Byju’S
1                             Shuttl
2                          Mamaearth
3       Https://Www.Wealthbucket.In/
4                             Fashor
                    ...
2837                          Tracxn
2838                            Dazo
2839                        Tradelab
2840                          Piqube
2841                 Travel Triangle
Name: Startup, Length: 2842, dtype: object

In [ ]:
df['Startup'] = df['Startup'].astype(str).str.strip().str.title()
df['Startup']

0                             Byju’S
1                             Shuttl
2                          Mamaearth
3       Https://Www.Wealthbucket.In/
4                             Fashor
                    ...
2837                          Tracxn
2838                            Dazo
2839                        Tradelab
2840                          Piqube
2841                 Travel Triangle
Name: Startup, Length: 2842, dtype: object

In [ ]:
import re

def clean_startup_name(name):
    if pd.isna(name):
        return 'Unknown'

    name = str(name).strip().title()  # Normalize case and whitespace

    # Remove common web suffixes and symbols
    name = re.sub(r'\.com|\.in|\.org|\.net|\.co|\.be|\.io|\.ai', '', name, flags=re.IGNORECASE)
    name = re.sub(r'http[s]?://\S+', '', name)  # Remove URLs
    name = re.sub(r'www\.\S+', '', name)        # Remove www links
    name = re.sub(r'[^A-Za-z0-9 &]', '', name)  # Remove special characters except space and &

    return name.strip()

# Apply to the column
df['Startup'] = df['Startup'].apply(clean_startup_name)

In [ ]:
df['Startup']

0                      ByjuS
1                     Shuttl
2                  Mamaearth
3       HttpsWwwWealthbucket
4                     Fashor
                ...
2837                  Tracxn
2838                    Dazo
2839                Tradelab
2840                  Piqube
2841         Travel Triangle
Name: Startup, Length: 2842, dtype: object

In [ ]:
pip install rapidfuzz

Collecting rapidfuzz
  Downloading rapidfuzz-3.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Downloading rapidfuzz-3.13.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 45.7 MB/s eta 0:00:00
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.13.0

In [ ]:
from rapidfuzz import fuzz, process
unique_names = df['Startup'].dropna().unique()
correction_map = {}
threshold = 85
for name in unique_names:
    matches = process.extract(name, unique_names, scorer=fuzz.token_sort_ratio, limit=10)
    for match_name, score, _ in matches:
        if score >= threshold and match_name != name:
            correction_map[match_name] = name
df['Startup'] = df['Startup'].replace(correction_map)

In [ ]:
for k, v in correction_map.items():
    print(f'"{k}" : "{v}"')

"Ayefinance" : "Aye Finance"
"Fyle Technologies" : "Fpl Technologies"
"Availfinance" : "Avail Finance"
"Craftstvilla" : "Craftsvilla"
"Unaacademy" : "Unacademy"
"Healthcare" : "My Healthcare"
"Guidoo" : "Guiddoo"
"Veritas Finance" : "Veritas Finance Ltd"
"Lets Transport" : "Letstransport"
"Healthi" : "Healthmir"
"Zippserve" : "Zippserv"
"Moengage" : "Mengage"
"Log 9 Materials" : "Log9 Materials"
"Entropika" : "Entropik"
"Aye Finance" : "Ayefinance"
"Dailyninja" : "Daily Ninja"
"Openapp" : "Opentap"
"Travel Triangle" : "Traveltriangle"
"Fpl Technologies" : "Fyle Technologies"
"Wealthy" : "Wellthy"
"My Healthcare" : "Healthcare"
"Avail Finance" : "Availfinance"
"Healthfin" : "Healthi"
"Healthmir" : "Healthi"
"High Radius" : "Highradius"
"Early Salary" : "Earlysalary"
"Vahdam Teas" : "Vahdam Tea"
"Logicroots" : "Logic Roots"
"91Springboard" : "Springboard"
"Opentap" : "Openapp"
"Happilyunmarried" : "Happily Unmarried"
"Creditmate" : "Credit Mate"
"Tempogo" : "Tempgo"
"Little Black Book Delhi" : "Little Black Book"
"Bankbazaar" : "Bank Bazaar"
"Creditvidya" : "Credit Vidya"
"Earlysalary" : "Early Salary"
"The Mons Co" : "The Moms Co"
"Highradius" : "High Radius"
"Springboard" : "91Springboard"
"Transerv" : "Transerve"
"Sport Flashes" : "Sports Flashes"
"Druva" : "Dhruva"
"Bombay Shirt Company" : "Bombay Shaving Company"
"Rentmojo" : "Rentomojo"
"Rentomo" : "Rentomojo"
"Bhiveworkspace" : "Bhive Workspace"
"Guiddoo" : "Guidoo"
"Zippserv" : "Zippserve"
"Legalraasta" : "Legal Raasta"
"Log9 Materials" : "Log 9 Materials"
"Genextstudents" : "Gennext Students"
"Simplilearn" : "Simplilend"
"Elasticrun" : "Elastirun"
"The Moms Co" : "The Mons Co"
"Sports Flashes" : "Sport Flashes"
"Traveltriangle" : "Travel Triangle"
"Tempgo" : "Tempogo"
"Learnon" : "Learntron"
"Intelligencenode" : "Intelligence Node"
"Vahdam Tea" : "Vahdam Teas"
"Letstransport" : "Lets Transport"
"Indialends" : "India Lends"
"Doctorinsta" : "Doctor Insta"
"Mengage" : "Moengage"
"Shadowfax" : "Shadowfox"
"Jusride" : "Justride"
"Elastirun" : "Elasticrun"
"Vyomo" : "Vymo"
"Entropik" : "Entropika"
"Appdaily" : "Appsdaily"
"Ue Life Sciences" : "Ue Lifesciences"
"Credit Mate" : "Creditmate"
"Satvacart" : "Satvakart"
"Simplilend" : "Simplilearn"
"Glamstudios" : "Glam Studios"
"Doctor Insta" : "Doctorinsta"
"Dhruva" : "Druva"
"Gennext Students" : "Genextstudents"
"Unacademy" : "Unaacademy"
"CrownIt" : "Crownit"
"Pressplay" : "Pressplay Tv"
"Happily Unmarried" : "Happilyunmarried"
"Appsdaily" : "Appdaily"
"Rentomojo" : "Rentomo"
"Satvakart" : "Satvacart"
"Credit Vidya" : "Creditvidya"
"Bombay Shaving Company" : "Bombay Shirt Company"
"Shabdanagari" : "Shabdnagari"
"Bhive Workspace" : "Bhiveworkspace"
"Legal Raasta" : "Legalraasta"
"Vymo" : "Vyomo"
"Transerve" : "Transerv"
"Wellthy" : "Wealthy"
"Pragmatix" : "Pramati"
"Veritas Finance Ltd" : "Veritas Finance"
"Glam Studios" : "Glamstudios"
"Icustomadeit" : "Icustommadeit"
"Gameezop" : "Gamezop"
"Confirmttkt" : "Confirmtkt"
"Buildzar" : "Buildkar"
"Gamezop" : "Gameezop"
"Shabdnagari" : "Shabdanagari"
"Buildkar" : "Buildzar"
"Learntron" : "Learnon"
"India Lends" : "Indialends"
"Shadowfox" : "Shadowfax"
"Ue Lifesciences" : "Ue Life Sciences"
"Daily Ninja" : "Dailyninja"
"Justride" : "Jusride"
"Intelligence Node" : "Intelligencenode"
"Bank Bazaar" : "Bankbazaar"
"Confirmtkt" : "Confirmttkt"
"Pramati" : "Pragmatix"
"Little Black Book" : "Little Black Book Delhi"
"Icustommadeit" : "Icustomadeit"
"Crownit" : "CrownIt"
"Pressplay Tv" : "Pressplay"
"Craftsvilla" : "Craftstvilla"
"Logic Roots" : "Logicroots"

In [ ]:
df['Startup'] = df['Startup'].apply(lambda x: re.sub(r'[^A-Za-z0-9 &]', '', x))

In [ ]:
df['Startup'].sample(5)

2704          Treebo
2383    Youthkiawaaz
54         Indwealth
1437      Buttercups
1436       Funcastic
Name: Startup, dtype: object

In [ ]:
df['Startup'] = df['Startup'].replace('', np.nan)
df['Startup'] = df['Startup'].fillna('Unknown')

In [ ]:
print(df['Startup'].value_counts())

Startup
Swiggy          8
Ola Cabs        8
Lenskart        6
Meesho          6
Medinfi         6
               ..
Rein Games      1
Incred          1
Dhruva Space    1
Ecozen          1
Pando           1
Name: count, Length: 2187, dtype: int64

In [ ]:
df['Startup'] = df['Startup'].replace("HttpsWwwWealthbucket","Wealth bucket")

In [ ]:
df[df['Startup']=='Wealth bucket']

,Date,Startup,Industry,Subvertical,City,Investors,round,Amount
3,2020-01-02,Wealth bucket,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.75

In [ ]:
df.to_csv('startup_cleaned_final.csv', index=False)